.imageContainer{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(7, auto);
  max-width: 24rem;
  margin: 0 auto;
  height: 100%;
}
 
  img {
    margin: 0;
    position: relative;
    filter: grayscale(100);
    transition: filter .5s ease-in-out;

  }
  img:hover {
    filter: none;
    z-index: 3;
  }
  img:nth-child(1) {
    grid-area: 1 / 1 / 4 / 3;
  }
  img:nth-child(2) {
    grid-area: 2 / 2 / 5 / 4;
    z-index: 2;
  }
  img:nth-child(3) {
    grid-area: 3 / 3 / 7 / 5;
  }
